.todo-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px 5px;
  margin: 5px 0;
}
.todo-item-container.todo-item-container__normal {
  cursor: pointer;
}
.todo-item-container[item-priority="5"] {
  background-color: #db2828;
}
.todo-item-container[item-priority="4"] {
  background-color: #f2711c;
}
.todo-item-container[item-priority="3"] {
  background-color: #fbbd08;
}
.todo-item-container[item-priority="2"] {
  background-color: #21ba45;
}
.todo-item-container[item-priority="1"] {
  background-color: #b5cc18;
}
.todo-item-container[is-completed="true"] {
  background-color: #a0a0a0;
}
