.item-actions {
  display: flex;
  width: 10%;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: center;
  font-size: 20px;
  opacity: 0.8;

  div:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .item-complete {
    color: white;
  }

  .item-edit {
    color: white;
  }

  .item-delete {
    color: white;
  }
}