.header {
  font-size: 32px;
  margin-left: 7%;
  align-items: center;
  margin-top: 3vw;
  padding-bottom: 16px;
}
.header .header-text {
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 0px 10px;
  display: inline-block;
  line-height: 5px;
}
.header .header-text h1 {
  pointer-events: none;
  user-select: none;
}
