.header {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vw;
  padding-bottom: 64px;

  .header-text {
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 0px 10px;
    
    display: inline-block;
    line-height: 5px;

    h1 {
      pointer-events: none;
      user-select: none;
    }
  }


  .header-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;

    i {
      font-size: 112px;  
      color: rgba(0,0,0,0.7);
      cursor: pointer;

      &:hover {
        color: rgba(0,0,0,0.4);
      }
    }
  }
}