.header {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vw;
  padding-bottom: 64px;

  .header-text {
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 0px 10px;
    
    display: inline-block;
    line-height: 5px;

    h1 {
      pointer-events: none;
      user-select: none;
    }
  }


  .header-actions {
    width: 12.5%;
    background-color: rgba(0,0,0,0.5)
    border-radius: 20px;
    padding: 7px 0;

    .header-actions-text {
      font-size: 20px;
      color: rgba(0,0,0,0.8);
      text-align: center;
    }

    .header-actions-buttons {
      text-align: center;
      i {
        font-size: 80px;  
        color: rgba(0,0,0,0.7);
        cursor: pointer;

        &:hover {
          color: rgba(0,0,0,0.4);
        }
      }
    }
  }
}