.todo-list {
  padding: 16px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 16px;
}
.todo-list .todo-list-add-label {
  font-size: 20px;
  text-align: center;
  padding-bottom: 16px;
}
.todo-list .todo-list-add {
  font-size: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.todo-list .todo-list-add i {
  background-color: rgba(0,0,0,0.5);
  padding: 12px;
  border-radius: 100%;
  cursor: pointer;
}
.todo-list .todo-list-add i:hover {
  background-color: rgba(0,0,0,0.7);
}
.todo-list .todo-list-add i:active {
  background-color: #000;
}
.todo-list .todo-list-content {
  background-color: rgba(0,0,0,0.2);
  padding: 8px;
  border-radius: 20px;
}
