.todo-list {
  padding: 16px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 16px;

  .todo-list-add-label {
    font-size: 20px;
    text-align: center;  
    padding-bottom: 16px;
  }

  .todo-list-add {
    font-size: 32px;
  color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    i {
      background-color: rgba(0,0,0,0.5);
      padding: 12px;
      border-radius: 100%;
      cursor: pointer;

      &:hover {
        background-color: rgba(0,0,0,0.7);
      }

      &:active {
        background-color: rgba(0,0,0,1);
      }
    }
  }

  .todo-list-content {
    background-color: rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 20px;
  }

  .todo-change-session {
    background-color: rgba(0,0,0,0.2);
    padding: 16px 0;
    border-radius: 16px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    width: 100%

    select {
      font-size: 20px;
      width: 70%;
    }

    .item-actions {
      i {
        color: #000;
      }  
    }
  }
}