.todo-item-edit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 10px;
  flex-grow: 1;
  color: #fff;
}
.todo-item-edit .todo-item-edit-text {
  width: 100%;
  border-radius: 10px;
  padding: 3px 7px;
  margin-bottom: 10px;
}
.todo-item-edit .todo-item-edit-priority {
  font-weight: bold;
  margin-left: 5px;
}
.todo-item-edit .todo-item-edit-priority select {
  margin-left: 5px;
}
