.todo-item-container .todo-item-text {
  align-self: center;
  color: #fff;
  word-wrap: break-word;
  text-overflow: ellipsis;
  width: 90%;
}
.todo-item-container .item-actions {
  visibility: hidden;
}
.todo-item-container:hover .item-actions {
  visibility: visible;
  animation: fadein 0.75s;
}
.todo-item-container[is-completed="true"] .item-actions .item-edit,
.todo-item-container[is-completed="true"] .item-actions .item-complete {
  visibility: hidden;
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
