
.todo-item-container {
  .todo-item-text {
    align-self: center;
    color: #fff;  
    word-wrap: break-word;
    text-overflow: ellipsis;
    width: 90%;
  }

  &.todo-item-container__normal {
    .item-actions {
      visibility hidden;
    }

    @keyframes fadein {
      0% { opacity: 0; }
      100% { opacity: 0.8; }
    }

    &:hover .item-actions  {
      visibility: visible;

      animation: fadein 0.75s;
    }
  }

  &[is-completed="true"] {
    .item-actions {
      .item-edit, .item-complete {
        visibility: hidden;
      }
    }
  }
}


  

