
.todo-item-container {
  @keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 0.8; }
  }

  .todo-item-text {
    align-self: center;
    color: #fff;  
    word-wrap: break-word;
    text-overflow: ellipsis;
    width: 90%;
  }

  .item-actions {
    visibility: hidden;
  }

  &:hover .item-actions {
    visibility: visible;

    animation: fadein 0.75s;
  }

  &[is-completed="true"] {
    .item-actions {
      .item-edit, .item-complete {
        visibility: hidden;
      }
    }
  }
}


  

