.item-actions {
  display: flex;
  width: 10%;
  justify-content: space-between;
  flex-wrap: wrap;
  visibility: hidden;
  align-self: center;
  font-size: 20px;
  opacity: 0.8;
}
.item-actions div:hover {
  opacity: 0.5;
  cursor: pointer;
}
.item-actions .item-complete {
  color: #fff;
}
.item-actions .item-edit {
  color: #fff;
}
.item-actions .item-delete {
  color: #fff;
}
